

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@200..900&display=swap');


body{
    background-image: url(/assets/images/login-bg.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.login-container{
    transform: scale(0.8);
    background-image: url(/assets/images/login-stud-bg.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(128, 0, 0, 0.9);
    border-radius: 8px;
    padding: 20px 40px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    color: white;
    width: 695px;
    min-height: 520px;
}

.login-container.expanded {
  padding-bottom: 60px;
}

.login-container h2 {
    font-size: 53px;
    margin-bottom: 20px;
    font-family: "Oswald", serif;
    font-weight: 600;
    margin-top: 60px;
    align-items: center;
  }
  
  .login-container label {
    display: block;
    margin-left: 60px;
    font-size: 20px;
    text-align: left;
    margin-bottom: 5px;
    font-family: "Source Sans 3", serif;
  }

  .login-container input {
    width: 80%;
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;

  }
  
  .login-container input:focus {
    outline: none;
    border: 1px solid gold;
    box-shadow: 0 0 5px gold;
  }
  
  .login-container button {
    background-color: #FDBE00;
    color: black;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 29px;
    font-family: "Oswald", serif;
    font-weight: 400;
    width: 290px;
    margin-top: 30px;
    outline: none;
  }

  .login-container button:hover {
    background-color: #efb300;
  }
  
  
  .login-container a {
    display: block;
    margin-top: 10px;
    color: white;
    font-size: 14px;
    text-decoration: none;
  }
  
  .login-container a:hover {
    text-decoration: underline;
  }

  .login-container i{
    font-style: normal;
  }

  .login-container .back{
    margin-top: 5px;
    font-family: "Source Sans 3", serif;
    text-decoration: none;
    font-size: 10px;
    font-style: normal;
    float: left;
    display: flex;
    cursor: pointer;

    p{
      font-size: 20px;
      padding-left: 10px;
      margin-top: 5px;
    }
    
    
  }

  @media (max-width: 1024px) {
    .login-container{
      height: fit-content;
      padding: 20px 40px 50px;
    }
  }
  
  @media (max-width: 768px) {
    .login-container{
      height: fit-content;
      width: 80%;
      padding: 20px 40px 30px;
      margin-top: -20%;

      h2{
        font-size: 45px;
      }
      
      label{
        font-size: 16px;
      }

      input{
        padding: 10px 15px;
      }

      button{
        padding: 5px 10px;
      }

      .back{
        p{
          font-size: 20px;
          padding-left: 10px;
          margin-top: 2px;
        }

        i{
          font-size: 1.5rem !important;
        }

      }
    }
  }
  
  @media (max-width: 430px) {
    .login-container{
      width: 90%;
      padding: 20px 20px 30px;
      height: fit-content;
      margin-top: -35%;

      h2{
        font-size: 35px;
      }
      
      label{
        margin-left: 0;
        font-size: 16px;
      }

      input{
        padding: 8px 15px;
        width: 100%;
      }

      button{
        padding: 5px 0 !important;
        font-size: 20px;
        width: 80%;
        margin-top: 3px;

      }

      .back{
        p{
          font-size: 16px;
          padding-left: 10px;
          margin-top: 2px;
        }

        i{
          font-size: 1.3rem !important;
        }

      }
    }
  }