.dashboard-container {
  display: flex;
  min-height: 88vh;
  background-color: #f4f4f9;

  .main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: 15%; /* Match this value to the sidebar's width */

    .content-area {
      position: relative;
      width: 100%;
      min-height: 90vh; /* Adjust as needed */

      &::before{content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('/assets/images/hau-bg.png');
        background-size: 90%; /* Adjust to make it smaller */
        background-position: center;
        background-repeat: no-repeat;
        opacity: 0.5; /* Adjust opacity (0 = fully transparent, 1 = fully visible) */
        z-index: -1; /* Keeps the background behind the content */}
    }
  }
}
