<header class="sticky-header">
  <div class="logo-title">
    <img src="/assets/images/hau-logo.png" alt="University Logo" />
    <div class="title">
      <span>University Dormitory</span>
      <span>Office</span>
    </div>
  </div>
  <h3 class="app-form-title">Application Form</h3>
  <button type="button" class="logout-btn" (click)="logout()">Logout</button>
</header>
<div style="overflow-x: hidden;">
<div id="backToTop" class="back-to-top" (click)="scrollToTop()" [ngClass]="{'show': isBackToTopVisible}">
  <img src="/assets/images/b2top.svg">
</div>


<div *ngIf="!isLoggedIn">
  <p>You are not logged in. Please log in to view your details.</p>
</div>



<div *ngIf="isLoggedIn">
  <!-- Case: Approved but not submitted -->
  <div class="after-submit"  *ngIf="isApproved && !isSubmitted">
    <div class="after-submit-container">
      <p *ngIf="!isRenewalStarted">You are already approved.</p>
      <p *ngIf="isRenewalStarted">Renewal has started. You can update your details.</p>
      <div style="display: flex; flex-direction: column;">
        <button class="after-submit-btn-view" (click)="openStudentInfoModal()">View student info</button>

        <button class="after-submit-btn-view" (click)="onRenewal()" [disabled]="!isRenewalStarted || isRenewalSubmitted" >Renew Application</button>
        <button class="after-submit-btn" [disabled]="!isRenewalSubmitted" (click)="onCancelRenewal()">Cancel Renewal Application</button>
      </div>
    </div>
  </div>
  <!-- Case: Submitted but not approved -->

  <div class="after-submit"  *ngIf="!isApproved && isSubmitted">
    <div class="after-submit-container" >
      <p>{{ name }}, your form is being reviewed please wait</p>
      <div style="display: flex; flex-direction: column;">
        <button class="after-submit-btn-view" (click)="openStudentInfoModal()">View student info</button>
        <!-- <button class="after-submit-btn-view"><a (click)="openModal(student)">View student info</a></button> -->
        <button class="after-submit-btn" (click)="onCancel()">Cancel Application</button>
      </div>
    </div>
  </div>


  <!-- Case: Neither approved nor submitted (Show Form Template) -->
  <div *ngIf="!isSubmitted && !isApproved">
    <ng-container *ngTemplateOutlet="formTemplate"></ng-container>
  </div>
</div>


<app-student-info-modal
  *ngIf="showModal"
  [studentInfo]="selectedStudentInfo"
  [isRenewalSubmitted]="isRenewalSubmitted"
  (close)="closeModal()">
</app-student-info-modal>

  <ng-template #formTemplate>
    <form [formGroup]="studentForm" (ngSubmit)="onSubmit()">

      <!--PERSONAL DATA STARTS HERE-->
      <br>
      <div class="input-file-tab">
        <label for="profilePicture"><h3>Profile Picture</h3></label>
        
        <!-- File Input Container -->
        <div class="file-input-wrapper">
          <input class="input-file" type="file" id="profilePicture" formControlName="profilePicture" (change)="onFileChange($event)" accept="image/png, image/jpeg">
        </div>
  
        <div *ngIf="imageError" class="error-message">{{ imageError }}</div>
  
        <!-- Image Preview Section -->
        <div class="preview-container">
          <div *ngIf="previewUrl">
            <p>Image Preview:</p>
            <img [src]="previewUrl" alt="Profile Preview" class="image-preview">
          </div>
          
          <div *ngIf="!previewUrl">
            <small class="recommendation">Recommended: Upload a clear front-facing photo.</small>
          </div>
        </div>
      </div>

      <div class="personal">
        <h3>Personal Data</h3>
          <!-- Student Information -->
          <div class="stud-info">
            
            <div class="drpdown-course">
              <label for="personal-course">Course:</label>
              <select formControlName="course" class="form-select" [ngClass]="{'is-invalid': studentForm.get('course')?.invalid && studentForm.get('course')?.touched}" required>
                <option value="" disabled>Select Course</option>
                <!--SHS SECTION-->
                <option disabled style="background-color: rgb(218, 218, 218); color: black; font-weight: 600;">Senior High School</option>
                    <option value="SHS - Accountancy, Business and Management">SHS - Accountancy, Business and Management</option>
                    <option value="SHS - General Academic">SHS - General Academic</option>
                    <option value="SHS - Humanities and Social Sciences">SHS - Humanities and Social Sciences</option>
                    <option value="SHS - Science, Technology, Engineering and Math">SHS - Science, Technology, Engineering and Math</option>
                    <option value="SHS - TVL - Home Economics">SHS - TVL-Home Economics</option>
                    <option value="SHS - TVL - Information and Communication Technology">SHS - TVL-Information and Communication Technology</option>
                <!--CCJEF SECTION-->
                <option disabled style="background-color: rgb(218, 218, 218); color: black; font-weight: 600;">College of Criminal Justice Education & Forensics</option>
                    <option value="CCJEF - Bachelor of Forensic Science">Bachelor of Forensic Science</option>
                    <option value="CCJEF - Bachelor of Science in Criminology">Bachelor of Science in Criminology</option>
                <!--SBA SECTION-->
                <option disabled style="background-color: rgb(218, 218, 218); color: black; font-weight: 600;">School of Business and Accountancy</option>
                    <option value="SBA - Bachelor of Science in Accountancy">Bachelor of Science in Accountancy</option>
                    <option value="SBA - Bachelor of Science in Aviation Management">Bachelor of Science in Aviation Management</option>
                    <option value="SBA - Bachelor of Science in Business Administration - Business Management">Bachelor of Science in Business Administration - Business Management</option>
                    <option value="SBA - Bachelor of Science in Business Administration - Legal Management">Bachelor of Science in Business Administration - Legal Management</option>
                    <option value="SBA - Bachelor of Science in Business Administration - Marketing Management">Bachelor of Science in Business Administration - Marketing Management</option>
                    <option value="SBA - Bachelor of Science in Business Administration major in Financial Management">Bachelor of Science in Business Administration major in Financial Management</option>
                    <option value="SBA - Bachelor of Science in Business Administration major in Human Resource Management">Bachelor of Science in Business Administration major in Human Resource Management</option>
                    <option value="SBA - Bachelor of Science in Internal Auditing">Bachelor of Science in Internal Auditing</option>
                    <option value="SBA - Bachelor of Science in Management Accounting">Bachelor of Science in Management Accounting</option>
                <!--SAS SECTION-->
                <option disabled style="background-color: rgb(218, 218, 218); color: black; font-weight: 600;">School of Arts and Sciences</option>
                    <option value="SAS - Bachelor of Arts in Communication">Bachelor of Arts in Communication</option>
                    <option value="SAS - Bachelor of Arts in Psychology">Bachelor of Arts in Psychology</option>
                    <option value="SAS - Bachelor of Arts-Master of Arts in Psychology">Bachelor of Arts-Master of Arts in Psychology</option>
                    <option value="SAS - Bachelor of Science in Psychology">Bachelor of Science in Psychology</option>
                <!--SOC SECTION-->
                <option disabled style="background-color: rgb(218, 218, 218); color: black; font-weight: 600;">School of Computing</option>
                    <option value="SOC - Bachelor of Science in Computer Science">Bachelor of Science in Computer Science</option>
                    <option value="SOC - Bachelor of Science in Cybersecurity">Bachelor of Science in Cybersecurity</option>
                    <option value="SOC - Bachelor of Science in Cybersecurity plus Professional Science Master">Bachelor of Science in Cybersecurity plus Professional Science Master</option>
                    <option value="SOC - Bachelor of Science in Entertainment and Multimedia Computing with Area of Specialization in Digital Animation">Bachelor of Science in Entertainment and Multimedia Computing with Area of Specialization in Digital Animation</option>
                    <option value="SOC - Bachelor of Science in Information Technology-with Area of Specialization in Network Administration">Bachelor of Science in Information Technology-with Area of Specialization in Network Administration</option>
                    <option value="SOC - Bachelor of Science in Information Technology-with Area of Specialization in Web Development">Bachelor of Science in Information Technology-with Area of Specialization in Web Development</option>
                <!--SNAMS SECTION-->
                <option disabled style="background-color: rgb(218, 218, 218); color: black; font-weight: 600;">School of Nursing and Allied Medical Sciences</option>
                    <option value="SNAMS - Bachelor of Science in Medical Technology">Bachelor of Science in Medical Technology</option>
                    <option value="SNAMS - Bachelor of Science in Nursing">Bachelor of Science in Nursing</option>
                    <option value="SNAMS - Bachelor of Science in Radiologic Technology">Bachelor of Science in Radiologic Technology</option>
                <!--SEd SECTION-->
                <option disabled style="background-color: rgb(218, 218, 218); color: black; font-weight: 600;">School of Education</option>
                    <option value="SEd - Bachelor of Elementary Education">Bachelor of Elementary Education</option>
                    <option value="SEd - Bachelor of Physical Education">Bachelor of Physical Education</option>
                    <option value="SEd - Bachelor of Secondary Education - English">Bachelor of Secondary Education - English</option>
                    <option value="SEd - Bachelor of Secondary Education - Filipino">Bachelor of Secondary Education - Filipino</option>
                    <option value="SEd - Bachelor of Secondary Education - Mathematics">Bachelor of Secondary Education - Mathematics</option>
                    <option value="SEd - Bachelor of Secondary Education - Social Studies">Bachelor of Secondary Education - Social Studies</option>
                    <option value="SEd - Bachelor of Secondary Education major in Religious and Values Education">Bachelor of Secondary Education major in Religious and Values Education</option>
                    <option value="SEd - Bachelor of Secondary Education major in Science">Bachelor of Secondary Education major in Science</option>
                    <option value="SEd - Bachelor of Special Needs Education">Bachelor of Special Needs Education</option>
                <!--SHTM SECTION-->
                <option disabled style="background-color: rgb(218, 218, 218); color: black; font-weight: 600;"> School of Hospitality and Tourism Management</option>
                    <option value="SHTM - Bachelor of Science in Hospitality Management with Concentration in Restaurant and Food Service Operation">Bachelor of Science in Hospitality Management with Concentration in Restaurant and Food Service Operation</option>
                    <option value="SHTM - Bachelor of Science in Hospitality Management with Concentration in Accommodations and Lodging Operation">Bachelor of Science in Hospitality Management with Concentration in Accommodations and Lodging Operation</option>
                    <option value="SHTM - Bachelor of Science in Hospitality Management with Concentration in Culinary Arts and Kitchen Operation">Bachelor of Science in Hospitality Management with Concentration in Culinary Arts and Kitchen Operation</option> 
                    <option value="SHTM - Bachelor of Science in International Gastronomy">Bachelor of Science in International Gastronomy</option>
                    <option value="SHTM - Bachelor of Science in Tourism Management with Concentration in Destination Management">Bachelor of Science in Tourism Management with Concentration in Destination Management</option>
                    <option value="SHTM - Bachelor of Science in Tourism Management with Concentration in Events Management">Bachelor of Science in Tourism Management with Concentration in Events Management</option>
                    <option value="SHTM - Bachelor of Science in Tourism Management with Concentration in Travel and Tour Operations">Bachelor of Science in Tourism Management with Concentration in Travel and Tour Operations</option>
                <!--SEA SECTION-->
                <option disabled style="background-color: rgb(218, 218, 218); color: black; font-weight: 600;">School of Engineering and Architecture</option>
                    <option value="SEA - Bachelor of Science in Aeronautical Engineering">Bachelor of Science in Aeronautical Engineering</option>
                    <option value="SEA - Bachelor of Science in Architecture">Bachelor of Science in Architecture</option>
                    <option value="SEA - Bachelor of Science in Civil Engineering">Bachelor of Science in Civil Engineering</option>
                    <option value="SEA - Bachelor of Science in Computer Engineering">Bachelor of Science in Computer Engineering</option>
                    <option value="SEA - BS Electrical Engineering">Bachelor of Science in Electrical Engineering</option>
                    <option value="SEA - BS Electronics Engineering">Bachelor of Science in Electronics Engineering</option>
                    <option value="SEA - Bachelor of Science in Industrial Engineering">Bachelor of Science in Industrial Engineering</option>
                    <option value="SEA - Bachelor of Science in Mechanical Engineering">Bachelor of Science in Mechanical Engineering</option>
                    <option value="SEA - Bachelor of Science in Civil Engineering (Construction Engineering and Management)">Bachelor of Science in Civil Engineering (Construction Engineering and Management)</option>
                    <option value="SEA - Bachelor of Science in Civil Engineering (Structural Engineering)">Bachelor of Science in Civil Engineering (Structural Engineering)</option>
                    <option value="SEA - Bachelor of Science in Civil Engineering (Transportation Engineering)">Bachelor of Science in Civil Engineering (Transportation Engineering)</option>
              </select>
              <small class="details">Enter course currently enrolled.</small>
            </div>

            <div class="drpdown-yrlvl">
              <label for="personal-yearLevel" class="form-label fw-bold">Year Level:</label>
              <select formControlName="yearLevel" class="form-select" [ngClass]="{'is-invalid': studentForm.get('yearLevel')?.invalid && studentForm.get('yearLevel')?.touched}">
                <option value="" disabled>Select Year Level</option>
                <option value="Grade 11">Grade 11</option>
                <option value="Grade 12">Grade 12</option>
                <option value="1st Year">1st Year</option>
                <option value="2nd Year">2nd Year</option>
                <option value="3rd Year">3rd Year</option>
                <option value="4th Year">4th Year</option>
              </select>
              <small class="details">Year level of the student.</small>
            </div>

            <!-- <div class="personal-s">
              <label for="personal-sex">Sex:</label>
              <select formControlName="sex" required class="form-select" [ngClass]="{'is-invalid': studentForm.get('sex')?.invalid && studentForm.get('sex')?.touched}">
                <option value="" disabled >Select</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
              </select>
            </div> -->

            <div class="place-birth">
              <label for="personal-placeOfBirth">Place of Birth:</label>
              <input formControlName="placeOfBirth" type="text" required  [ngClass]="{'is-invalid': studentForm.get('placeOfBirth')?.invalid && studentForm.get('placeOfBirth')?.touched}"/>
              <small class="details">As per birth certificate.</small>
            </div>

            <div>
              <label for="personal-dateOfBirth">Date of Birth:</label>
              <input type="date" style="padding-left: 12px;" formControlName="dateOfBirth" required [ngClass]="{'is-invalid': studentForm.get('dateOfBirth')?.invalid && studentForm.get('dateOfBirth')?.touched}"/>
            </div>

            <div>
              <label for="personal-age">Age:</label>
              <input formControlName="age" type="number" placeholder="Enter your date of birth" required readonly />
            </div>

            <div>
              <label for="personal-religion">Religion:</label>
              <input formControlName="religion" type="text" required [ngClass]="{'is-invalid': studentForm.get('religion')?.invalid && studentForm.get('religion')?.touched}"/>
              <small class="details">As per birth certificate.</small>
            </div>

            <div>
              <label for="personal-nationality">Nationality:</label>
              <input formControlName="nationality" type="text" required [ngClass]="{'is-invalid': studentForm.get('nationality')?.invalid && studentForm.get('nationality')?.touched}"/>
              <small class="details">As per birth certificate.</small>
            </div>


            <div class="civil-status">
              <label for="personal-civilStatus" class="form-label fw-bold">Civil Status:</label>
              <select formControlName="civilStatus" class="form-select" [ngClass]="{'is-invalid': studentForm.get('civilStatus')?.invalid && studentForm.get('civilStatus')?.touched}">
                <option value="" disabled>Select Civil Status</option>
                <option value="Single">Single</option>
                <option value="Married">Married</option>
                <option value="Divorced">Divorced</option>
                <option value="Legally Seperated">Legally Seperated</option>
                <option value="Widowed">Widowed</option>
              </select>
              <small class="details">Classify applicant's civil status.</small>
            </div>

          <!-- Nested: Home Address -->
          <fieldset formGroupName="homeAddress">

            <div>
              <label for="personal-houseNumber">Home Address:</label>
              <input formControlName="houseNumber" style="padding-left: 12px;" placeholder="House Number" type="text" [ngClass]="{'is-invalid': homeAddressGroup.get('houseNumber')?.invalid && homeAddressGroup.get('houseNumber')?.touched}" required />
              <small class="details">Lot/Block/Phase, Street/Building, Subdivision.</small>
            </div>

            <div>
              <label for="personal-city"></label>
              <input formControlName="city" style="padding-left: 12px;" placeholder="Barangay, Municipality/City" type="text" [ngClass]="{'is-invalid': homeAddressGroup.get('city')?.invalid && homeAddressGroup.get('city')?.touched}" required />
              <small class="details"> Barangay, Municipality/City.</small>
            </div>

            <div>
              <label for="personal-zipCode"></label>
              <input formControlName="zipCode" style="padding-left: 12px;" placeholder="Zip Code" type="text" [ngClass]="{'is-invalid': homeAddressGroup.get('zipCode')?.invalid && homeAddressGroup.get('zipCode')?.touched}" required />
            </div>

            <div>
              <label for="personal-province"></label>
              <input formControlName="province" style="padding-left: 12px;" placeholder="Province" type="text" [ngClass]="{'is-invalid': homeAddressGroup.get('province')?.invalid && homeAddressGroup.get('province')?.touched}" required />
            </div>

            <div>
              <label for="personal-country"></label>
              <input formControlName="country" style="padding-left: 12px;" placeholder="Country" type="text" [ngClass]="{'is-invalid': homeAddressGroup.get('country')?.invalid && homeAddressGroup.get('country')?.touched}" required />
            </div>
            
          </fieldset>

          <div>
            <label for="facebookAcct">Facebook Account:</label>
            <input formControlName="facebookAcct" type="text" required [ngClass]="{'is-invalid': studentForm.get('facebookAcct')?.invalid && studentForm.get('facebookAcct')?.touched}"/>
            <small class="details">Facebook/Messenger link.</small>
          </div>

          <div>
            <label for="personal-telNo">Mobile Number:</label>
            <input formControlName="telNo" type="text" inputmode="numeric" pattern="[0-9]*" required
              (keypress)="validateNumberInput($event)"
              [ngClass]="{'is-invalid': studentForm.get('telNo')?.invalid && studentForm.get('telNo')?.touched}" />
              <small class="details">Active personal contact number.</small>
          </div>
      </div>
    </div>
          
      <!-- FATHER BACKGROUND STARTS HERE -->

      <div class="family-bg">
        <h3>Family Background</h3>

          <fieldset formGroupName="fatherDetails">
          <legend><li>Father Details</li></legend>

          <div>
            <label for="father-name">Father's Name: </label>
            <input formControlName="name" type="text" required [ngClass]="{'is-invalid': fatherDetailsGroup.get('name')?.invalid && fatherDetailsGroup.get('name')?.touched}"/>
            <small class="details">Ex. Juan M. Dela Cruz</small>
          </div>

          <div>
            <label for="father-dateOfBirth">Date of Birth:</label>
            <input formControlName="dateOfBirth" style="padding-left: 12px;" type="date" required [ngClass]="{'is-invalid': fatherDetailsGroup.get('name')?.invalid && fatherDetailsGroup.get('name')?.touched}" />
          </div>

          <div>
            <label for="father-age">Age:</label>
            <input formControlName="age" type="number" placeholder="Enter date of birth" required readonly/>
          </div>

          <div>
            <label for="father-placeOfBirth">Place of Birth:</label>
            <input formControlName="placeOfBirth" type="text" required [ngClass]="{'is-invalid': fatherDetailsGroup.get('placeOfBirth')?.invalid && fatherDetailsGroup.get('placeOfBirth')?.touched}" />
          </div>

          <fieldset formGroupName="homeAddress">
            <div>
              <label for="father-houseNumber">Home Address:</label>
              <input formControlName="houseNumber" style="padding-left: 12px;" placeholder="House Number" type="text" required [ngClass]="{'is-invalid': fatherDetailsGroup.get('homeAddress.houseNumber')?.invalid && fatherDetailsGroup.get('homeAddress.houseNumber')?.touched}" />
              <small class="details">Lot/Block/Phase, Street/Building, Subdivision.</small>
            </div>

            <div>
              <label for="father-city"></label>
              <input formControlName="city" style="padding-left: 12px;" placeholder="Barangay, Municipality/City" type="text" required [ngClass]="{'is-invalid': fatherDetailsGroup.get('homeAddress.city')?.invalid && fatherDetailsGroup.get('homeAddress.city')?.touched}" />
              <small class="details"> Barangay, Municipality/City.</small>
            </div>

            <div>
              <label for="father-zipCode"></label>
              <input formControlName="zipCode" style="padding-left: 12px;" placeholder="Zip Code" type="text" required [ngClass]="{'is-invalid': fatherDetailsGroup.get('homeAddress.zipCode')?.invalid && fatherDetailsGroup.get('homeAddress.zipCode')?.touched}"/>
            </div>

            <div>
              <label for="father-province"></label>
              <input formControlName="province" style="padding-left: 12px;" placeholder="Province" type="text" required [ngClass]="{'is-invalid': fatherDetailsGroup.get('homeAddress.province')?.invalid && fatherDetailsGroup.get('homeAddress.province')?.touched}"/>
            </div>

            <div>
              <label for="father-country"></label>
              <input formControlName="country" style="padding-left: 12px;" placeholder="Country" type="text" required [ngClass]="{'is-invalid': fatherDetailsGroup.get('homeAddress.country')?.invalid && fatherDetailsGroup.get('homeAddress.country')?.touched}"/>
            </div>
            
          </fieldset>

          <div>
            <label for="father-telNo">Mobile Number:</label>
            <input formControlName="telNo" type="text" inputmode="numeric" pattern="[0-9]*" 
              (keypress)="validateNumberInput($event)"
              [ngClass]="{'is-invalid': fatherDetailsGroup.get('telNo')?.invalid && fatherDetailsGroup.get('telNo')?.touched}" required />
            <small class="details">Mobile phone of contact person.</small>
          </div>

          <div>
            <label for="father-religion">Religion:</label>
            <input formControlName="religion" type="text" required [ngClass]="{'is-invalid': fatherDetailsGroup.get('religion')?.invalid && fatherDetailsGroup.get('religion')?.touched}"/>
          </div>

          <div>
            <label for="father-nationality">Nationality:</label>
            <input formControlName="nationality" type="text" [ngClass]="{'is-invalid': fatherDetailsGroup.get('nationality')?.invalid && fatherDetailsGroup.get('nationality')?.touched}" required />
          </div>

          <div>
            <label for="father-occupation">Occupation:</label>
            <input formControlName="occupation" type="text" required [ngClass]="{'is-invalid': fatherDetailsGroup.get('occupation')?.invalid && fatherDetailsGroup.get('occupation')?.touched}" />
          </div>

          <div>
            <label for="father-nameOfEmployer">Name of Employer:</label>
            <input formControlName="nameOfEmployer" type="text" required [ngClass]="{'is-invalid': fatherDetailsGroup.get('nameOfEmployer')?.invalid && fatherDetailsGroup.get('nameOfEmployer')?.touched}" />
          </div>
        </fieldset>
        <!-- MOTHER DETAILS -->
        <fieldset formGroupName="motherDetails">
          <legend><li>Mother Details</li></legend>

          <div>
            <label for="mother-name">Mother's Name: </label>
            <input formControlName="name" type="text" required [ngClass]="{'is-invalid': motherDetailsGroup.get('name')?.invalid && motherDetailsGroup.get('name')?.touched}" />
            <small class="details">Ex. Isabel M. Dela Cruz</small>
          </div>

          <div>
            <label for="mother-dateOfBirth">Date of Birth:</label>
            <input formControlName="dateOfBirth" style="padding-left: 12px;" type="date" required [ngClass]="{'is-invalid': motherDetailsGroup.get('dateOfBirth')?.invalid && motherDetailsGroup.get('dateOfBirth')?.touched}" />
          </div>

          <div>
            <label for="mother-age">Age:</label>
            <input formControlName="age" type="number" placeholder="Enter date of birth" required readonly/>
          </div>

          <div>
            <label for="mother-placeOfBirth">Place of Birth:</label>
            <input formControlName="placeOfBirth" type="text" required [ngClass]="{'is-invalid': motherDetailsGroup.get('placeOfBirth')?.invalid && motherDetailsGroup.get('placeOfBirth')?.touched}"/>
          </div>

          <fieldset formGroupName="homeAddress">
            <div>
              <label for="mother-houseNumber">Home Address:</label>
              <input formControlName="houseNumber" style="padding-left: 12px;" placeholder="House Number" type="text" required [ngClass]="{'is-invalid': motherDetailsGroup.get('homeAddress.houseNumber')?.invalid && motherDetailsGroup.get('homeAddress.houseNumber')?.touched}" />
              <small class="details">Lot/Block/Phase, Street/Building, Subdivision.</small>
            </div>

            <div>
              <label for="mother-city"></label>
              <input formControlName="city" style="padding-left: 12px;" placeholder="Barangay, Municipality/City" type="text" required [ngClass]="{'is-invalid': motherDetailsGroup.get('homeAddress.city')?.invalid && motherDetailsGroup.get('homeAddress.city')?.touched}" />
              <small class="details"> Barangay, Municipality/City.</small>
            </div>

            <div>
              <label for="mother-zipCode"></label>
              <input formControlName="zipCode" style="padding-left: 12px;" placeholder="Zip Code" type="text" required [ngClass]="{'is-invalid': motherDetailsGroup.get('homeAddress.zipCode')?.invalid && motherDetailsGroup.get('homeAddress.zipCode')?.touched}" />
            </div>

            <div>
              <label for="mother-province"></label>
              <input formControlName="province" style="padding-left: 12px;" placeholder="Province" type="text" required [ngClass]="{'is-invalid': motherDetailsGroup.get('homeAddress.province')?.invalid && motherDetailsGroup.get('homeAddress.province')?.touched}" />
            </div>

            <div>
              <label for="mother-country"></label>
              <input formControlName="country" style="padding-left: 12px;" placeholder="Country" type="text" required [ngClass]="{'is-invalid': motherDetailsGroup.get('homeAddress.country')?.invalid && motherDetailsGroup.get('homeAddress.country')?.touched}" />
            </div>
            
          </fieldset>

          <div>
            <label for="mother-telNo">Mobile Number:</label>
            <input formControlName="telNo" type="text" inputmode="numeric" pattern="[0-9]*" 
            (keypress)="validateNumberInput($event)"
            [ngClass]="{'is-invalid': motherDetailsGroup.get('telNo')?.invalid && motherDetailsGroup.get('telNo')?.touched}" required />
            <small class="details">Mobile phone of contact person.</small>
          </div>

          <div>
            <label for="mother-religion">Religion:</label>
            <input formControlName="religion" type="text" required [ngClass]="{'is-invalid': motherDetailsGroup.get('religion')?.invalid && motherDetailsGroup.get('religion')?.touched}"/>
          </div>

          <div>
            <label for="mother-nationality">Nationality:</label>
            <input formControlName="nationality" type="text" required [ngClass]="{'is-invalid': motherDetailsGroup.get('nationality')?.invalid && motherDetailsGroup.get('nationality')?.touched}"/>
          </div>

          <div>
            <label for="mother-occupation">Occupation:</label>
            <input formControlName="occupation" type="text" required [ngClass]="{'is-invalid': motherDetailsGroup.get('occupation')?.invalid && motherDetailsGroup.get('occupation')?.touched}" />
          </div>

          <div>
            <label for="mother-nameOfEmployer">Name of Employer:</label>
            <input formControlName="nameOfEmployer" type="text" required [ngClass]="{'is-invalid': motherDetailsGroup.get('nameOfEmployer')?.invalid && motherDetailsGroup.get('nameOfEmployer')?.touched}" />
          </div>
        </fieldset>
        <!-- PARENT STATUS -->
        <fieldset formGroupName="parentStatus">
          <legend><li>Parent Status</li></legend>

          <div class="drpdown-mstatus">
            <label for="maritalStatus">Marital Status of Parents</label>
            <select formControlName="maritalStatus" class="form-select" [ngClass]="{'is-invalid': parentStatusGroup.get('maritalStatus')?.invalid && parentStatusGroup.get('maritalStatus')?.touched}" required="">
              <option value="" disabled style="font-weight: 700;">Select Marital Status </option>
              <option value="Married, living together">Married, living together</option>
              <option value="" disabled style="background-color: rgb(218, 218, 218); color: black; font-weight: 600;">Married, living seperately due to:</option>
              <option value="Married, living seperately due to Divorce">Separation/Divorce</option>
              <option value="Married, living seperately due to Employment Abroad">Employment Abroad</option>
              <option value="Married, living seperately due to Illness">Illness</option>
              <option value="Married, living seperately due to Illness">Others</option>            
              <option value="" disabled style="background-color: rgb(218, 218, 218); color: black; font-weight: 600;">Other Options:</option>
              <option value="Unmarried single parent, living with Father">Unmarried single parent, living with Father</option>
              <option value="Unmarried single parent, living with Mother">Unmarried single parent, living with Mother</option>
              <option value="Widowed">Widowed</option>
            </select>
            <small class="details">Classify parent's marital status.</small>
          </div>


          <div class="parent-mrg">
            <label for="parentsMarriage">If separated, did the remaining parent marry?</label>
            <div>
              <input formControlName="parentsMarriage" type="radio" style="width: 20px;" class="radio-btn-input" [value]="true">
              <label for="yes" class="radio-btn-label" >Yes</label>

              <input formControlName="parentsMarriage" type="radio" style="width: 20px;" class="radio-btn-input" [value]="false">
              <label for="no" class="radio-btn-label" >No</label>
            </div>
          </div>

          <fieldset formGroupName="guardianDetails">

            <div>
              <label for="guardian-name">Guardian Name</label>
              <input formControlName="name" type="text" [ngClass]="{'is-invalid': guardianDetailsGroup.get('name')?.invalid && guardianDetailsGroup.get('name')?.touched}">
              <small class="details">In case of emergency.</small>
            </div>

            <div>
              <label for="guardian-occupation">Guardian Occupation</label>
              <input formControlName="occupation" type="text" [ngClass]="{'is-invalid': guardianDetailsGroup.get('occupation')?.invalid && guardianDetailsGroup.get('occupation')?.touched}">
            </div>

            <div>
              <label for="guardian-relation">Guardian Relation</label>
              <input formControlName="relation" type="text" [ngClass]="{'is-invalid': guardianDetailsGroup.get('relation')?.invalid && guardianDetailsGroup.get('relation')?.touched}" >
              <small class="details">Relationship with the guardian.</small>	
            </div>

          </fieldset>

          <div>
            <label for="languageSpoken">Lanuguage Spoken</label>
            <input formControlName="languageSpoken" type="text" [ngClass]="{'is-invalid': parentStatusGroup.get('languageSpoken')?.invalid && parentStatusGroup.get('languageSpoken')?.touched}">
          </div>

          <div>
            <label for="ordinalPosition">Ordinal Position</label>
            <input formControlName="ordinalPosition" type="text" [ngClass]="{'is-invalid': parentStatusGroup.get('ordinalPosition')?.invalid && parentStatusGroup.get('ordinalPosition')?.touched}">
            <small class="details">Classify applicant's ordinal position.</small>
          </div>

          <div>
            <label for="noOfChildren">Number of Siblings</label>
            <input formControlName="noOfChildren" type="number" (input)="onNoOfChildrenChange()">
            <small class="details">Total no. of siblings (excluding you).</small>
          </div>

          <div class="drpdown-income">
            <label for="AverageMonthlyIncome" class="form-label fw-bold">Average Monthly Income</label>
            <select formControlName="AverageMonthlyIncome" class="form-select">
              <option value="" disabled>Select Income</option>
              <option value="₱5,000 - ₱7,499">₱5,000 - ₱7,499</option>
              <option value="₱7,500 - ₱9,999">₱7,500 - ₱9,999</option>
              <option value="₱10,000 - ₱14,999">₱10,000 - ₱14,999</option>
              <option value="₱15,000 - ₱19,999">₱15,000 - ₱19,999</option>
              <option value="₱20,000+">₱20,000+</option>
            </select>
          </div>

        </fieldset>

        <fieldset *ngIf="studentForm.get('parentStatus.noOfChildren')?.value > 0">
          <legend><li>Siblings</li></legend>
          <br>

          <div formArrayName="numberOfSiblings">

            <div *ngFor="let sibling of siblings.controls; let i = index" [formGroupName]="i">
              <label for="siblings-name">Name:</label>
              <input formControlName="name" type="text" />
              <small class="details">Ex. Isabel M. Dela Cruz</small>
              <br>
              <label for="siblings-classification">Ordinal Position:</label>
              <input formControlName="classification" type="text" />
              <br>
              <div class="siblings-s">
                <label for="siblings-sex">Sex:</label>
                <select formControlName="sex" required class="form-select">
                  <option value="" disabled >Select</option>
                  <option value="Male">Male</option>
                  <option value="Female">Female</option>
                </select>
              </div>
              <label for="siblings-age">Age:</label>
              <input formControlName="age" type="number" />
              <div class="civil-status">
                <label for="siblings-civilStatus" class="form-label fw-bold">Civil Status:</label>
                <select formControlName="civilStatus" class="form-select">
                  <option value="" disabled>Select Civil Status</option>
                  <option value="Single">Single</option>
                  <option value="Married">Married</option>
                  <option value="Divorced">Divorced</option>
                  <option value="Legally Seperated">Legally Seperated</option>
                  <option value="Widowed">Widowed</option>
                </select>
                <small class="details">Classify sibling's civil status.</small>
              </div>
              <label for="siblings-schoolOccupation">School/Occupation:</label>
              <input formControlName="schoolOccupation" type="text" />
              <small class="details">Indicate school/occupation.</small>
              <br>
              <label for="siblings-gradeCompany">Grade Level/Company:</label>
              <input formControlName="gradeCompany" type="text" />
              <small class="details">Include grade level/company of sibling.</small>
        
              <!-- <div class="remove">
                <button type="button" (click)="removeSibling(i)">Remove</button>
              </div> -->
        
              <br><br><br>
              <legend> </legend>
              
            </div>
            <!-- <div class="add-btn">
              <button type="button" (click)="addSibling()">Add Sibling</button>
            </div> -->
          </div>
        </fieldset>
      </div>

      <!-- HEALTH CONDITION STARTS HERE -->
      
      <div class="health-condi">
        <h3>Health Condition</h3>
          <div class="form-group">
          <label for="weight">Weight</label>
          <input formControlName="weight" type="number" required />
          <small class="details">In kilograms (kg).</small>
        </div>

        <div class="form-group">
          <label for="height">Height</label>
          <input formControlName="height" type="number" required />
          <small class="details">In centimeters (cm).</small>
        </div>

        <div class="health-glasses">
          <label for="glasses">Do you wear eye glasses?</label>
          <div> 
            <input formControlName="glasses" type="radio" style="width: 20px;" class="radio-btn-input" [value]="true">
            <label for="yes" class="radio-btn-label" >Yes</label>

            <input formControlName="glasses" type="radio" style="width: 20px;" class="radio-btn-input" [value]="false">
            <label for="no" class="radio-btn-label" >No</label>
          </div>
        </div>

        <div class="form-group">
          <label for="comments">Do you have any physical disabilities</label>
          <input id="comments" formControlName="comments" placeholder="type 'none' if you have no physical disabilities" type="text" />
        </div>

        <div class="illness-sec">
        <legend><li>Illness <small>(optional)</small></li></legend>
        <p>Input all the illness suffered and indicate the corresponding age during which you were affected:</p>
            <div class="illness-table">
              <table>
                <tr>
                  <th colspan="2">List of Illnesses</th>
                </tr>
                <tr>
                  <td>Mumps </td>
                  <td>Rheumatic fever</td>
                </tr>
                <tr>
                  <td>Measles</td>
                  <td>Nervousness </td>
                </tr>
                <tr>
                  <td>Chicken pox</td>
                  <td>Ulcer</td>
                </tr>
                <tr><td>Epilepsy </td><td>Heart disease</td></tr>
                <tr><td>Fainting spell</td><td>Typhoid fever</td></tr>
                <tr><td>Eye defects (specify)</td><td>Anemia</td></tr>
                <tr><td>Pneumonia </td><td>Hyperacidity</td></tr>
                <tr><td>Diabetes</td><td>Sleeplessness</td></tr>
                <tr><td>Tuberculosis</td><td>Convulsion</td></tr>
                <tr><td>Influenza</td><td>Other (specify)</td></tr>

                </table>
            </div>
            
          <fieldset>
          
          <div formArrayName="illnesses" style="margin-top: 15px;">
            <div *ngFor="let illness of illnesses.controls; let i = index" [formGroupName]="i">
              <label for="ilness-name">Name of Illness:</label>
              <input formControlName="name" type="text" />
              <br>
              <label for="ilness-age">Age:</label>
              <input formControlName="age" type="text" />
              <br>
              

              <div class="remove">
                <button type="button" (click)="removeIllness(i)">Remove</button>
              </div>
              <legend> </legend>
              <br>
            </div>
            <!-- AYUSIN MO TO BEH -->
            <div class="add-btn">
              <button type="button" (click)="addIllness()">Add Illness</button>
            </div>
            
          </div> 
        </fieldset>
        </div>
        
      </div>
      
    
      <div class="other-section">
        <h3>Others</h3>
      
        <!-- Hobbies -->
        <fieldset>
          <legend><li>Hobbies</li></legend>
          <div style="overflow-x: auto;" class="desc">
            <p>Instruction: Check all those which apply to you.</p>
              <table>
                <tr>
                  <th>Hobbies</th>
                  <th>Checkbox</th>
                </tr>
                <tr *ngFor="let hobby of hobbiesList; let i = index">
                  <td>{{ hobby }}</td>
                  <td><input type="checkbox" id="check-box" [value]="hobby" (change)="onHobbyChange($event, hobby)" /></td>
                </tr>
              </table>
          </div>
            
        </fieldset>
      
        <!-- Talent Skills -->
        <fieldset>
          <legend><li>Talent Skills</li></legend>
          <div style="overflow-x: auto;" class="desc">
            <p>Instruction: Check all those which apply to you.</p>
            <table>
              <tr>
                <th>Talent Skills</th>
                <th>Checkbox</th>
              </tr>
              <tr *ngFor="let talent of talentSkillsList; let i = index">
                <td>{{ talent }}</td>
                <td><input type="checkbox" id="check-box" [value]="talent" (change)="onTalentChange($event, talent)" /></td>
              </tr>
            </table>
          </div>
          
        </fieldset>
      
        <!-- Leisure Time -->
        <fieldset>
          <legend><li>Leisure Skills</li></legend>
          <div style="overflow-x: auto;" class="desc">
            <p>Instruction: Check all those which apply to you.</p>
            <table>
              <tr>
                <th>Leisure Skills</th>
                <th>Checkbox</th>
              </tr>
                <tr *ngFor="let leisure of leisureTimeList; let i = index">
                  <td>{{ leisure }}</td>
                  <td><input type="checkbox" id="check-box" [value]="leisure" (change)="onLeisureChange($event, leisure)" /></td>
                </tr>
              </table>
          </div>
            
        </fieldset>
      
      </div>
      

      <div class="disclaimer">
        <p>NOTE: Make sure you have filled all the required fields</p>
        <h3>DISCLAIMER</h3>
        <p>Submitting this application does not guarantee acceptance into the univeristy dormitory. All applications will be reviewed, <br> and students will be notified of their status accordingly.</p>
      </div>


        <div class="footer-btn">
          <button type="submit" [disabled]="!studentForm.valid">Submit</button>
      </div>
    </form>
    
  </ng-template>


